<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Pinterest Clone</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link href="assets/style.css" type="text/css" rel="stylesheet" />

  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Pinterest Clone</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="#">Home</a></li>
							<li>
								<% if (!user) { %>
									<a href="/login">Login</a>
								<% } else { %>
									<a href="/profile"><%= user.username %></a>
								<% } %>
							</li>
          </ul>
        </div><!--/.nav-collapse -->        
      </div>
    </nav>
    <div class="container">
    <div class="row">
      <div class="col-md-12">
        <% for(var i=0; i < images.length; i++) { %>
              <div class="thumbnail home">
                <img class="thumbnail_image" src="<%= images[i].imageLink %>" alt="<%= images[i].title %>" >
                <h4> <%= images[i].title %> </h4>
                <p class="user"><%= images[i].username %></p>
                <p class="likes">
                  <i id="<%= images[i]._id %>" class="fa fa-retweet" aria-hidden="true"></i>
                  <i id="<%= images[i]._id %>" class="fa fa-heart
                     <%= if(user){if(images[i].includes(user.username)){return "red"}} %>
                    " aria-hidden="true"></i>
                <%= images[i].likes %> </p>
                <div style="clear: both"></div>
              </div>
        <% } %>
    </div>
    </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>
    $(document).ready(function(){
      var user = "<%= (user) ? user.username : false %>" ;
      if(user !== "false"){
        
        $('.fa-retweet').on('click', function(){
          var id = $(this).attr('id');
          $.ajax({
            url: '/profile/retweet',
            type: 'POST',
            data: {id: id},     
            complete: function(){
              window.location.assign('/profile');
            }
          });
        });

        $('.fa-heart').on('click', function(){
          var id = $(this).attr('id');
          $.ajax({
            url: '/like',
            type: 'POST',
            data: {id: id},
            complete: function(){
              window.location.assign('/');
            }
          });
        });

      }
    });
    </script>
  </body>
</html>