<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Pinterest Clone</title>

    <!-- Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
		<link href="assets/style.css" type="text/css" rel="stylesheet" />

  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Pinterest Clone</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/index">Home</a></li>
							<li class="active">
								<a href="#"><%= user.username %></a>
							<li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <div class="container-fluid">
    <!--<p>
    ID: <%= user.id %><br/>
    Username: <%= user.username %><br/>
    Name: <%= user.displayName %><br/>
    <% if (user.emails) { %>
    Email: <%= user.emails[0].value %><br/>
    <% } %>
    </p>-->
    <div class="row">
      <div class="col-xs-6 col-md-4">
        <div class="jumbotron">
        <h3>Submit an image!</h3>
        <form method="post" action="/profile">
          <div class="input-group">
            <input type="text" name="title" class="form-control" placeholder="Title">
          </div>
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon3">https://</span>
            <input type="url" name="imageLink" class="form-control" id="basic-url">
          </div>
          <input type="submit" class="btn btn-default" value="Submit">
        </form>
        </div>
      </div>
    <div class="col-xs-6 col-md-8">
      <h3>Your images</h3>
      <div class="masonry js-masonry" data-masonry-options='{ "columnWidth": 200, "gutter": 0,"isFitWidth": true}'>
    <% for(var i=0; i < images.length; i++) { %>
          <div class="thumbnail">
            <img class="thumbnail_image" src="<%= images[i].imageLink %>" alt="<%= images[i].title %>" >
            <h4> <%= images[i].title %> </h4>
            <p class="likes">Likes: <%= images[i].likes %> </p>
            <div style="clear: both"></div>
          </div>
    <% } %>
    </div>
    </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>