<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Pinterest Clone</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link href="assets/style.css" type="text/css" rel="stylesheet" />

  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Pinterest Clone</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/index">Home</a></li>
							<li class="active"><a href="#"><%= user.username %></a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <div class="container-fluid">
    <!--<p>
    ID: <%= user.id %><br/>
    Username: <%= user.username %><br/>
    Name: <%= user.displayName %><br/>
    <% if (user.emails) { %>
    Email: <%= user.emails[0].value %><br/>
    <% } %>
    </p>-->
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <div class="jumbotron">
        <h3>Submit an image!</h3>
        <form id="form" method="post" action="/profile">
          <div class="input-group">
            <input type="text" name="title" class="form-control" placeholder="Title" required>
          </div>
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon3">https://</span>
            <input type="url" name="imageLink" class="form-control" id="basic-url" required>
          </div>
          <button id="submit" type="submit" class="btn btn-default">Submit</button>
        </form>
        </div>
      </div>
    <div class="col-xs-12 col-md-8">
      <h3>Your images</h3>
    <% for(var i=0; i < images.length; i++) { %>
          <div class="thumbnail">
            <i id="<% images[i]._id %>" class="fa fa-times" aria-hidden="true"></i>
            <img class="thumbnail_image" src="<%= images[i].imageLink %>" alt="<%= images[i].title %>" >
            <h4> <%= images[i].title %> </h4>
            <p class="likes"><i class="fa fa-heart" aria-hidden="true"></i> <%= images[i].likes %> </p>
            <div style="clear: both"></div>
          </div>
    <% } %>
    </div>
    </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>
    $('.fa-times').click(function(){
      xmlhttp = new XMLHttpRequest();
      xmlhttp.open("DELETE", '/profile', true);
      xmlhttp.setRequestHeader('Content-Type','application/json;charset=UTF-8')
      var id = $(this).attr('id');
      console.log(id);
      var obj = {id: id};
      xmlhttp.send(JSON.stringify(obj));
    });
    /*function delete(){
      xmlhttp = new XMLHttpRequest();
      xmlhttp.open("DELETE", $(this).attr('id'), true);
      xmlhttp.send();
    }*/
    </script>
  </body>
</html>